// Inheritance
%stars-animation {
  z-index: -1;
  animation-delay: 0s;
  animation: move-left-right 4s infinite alternate;
}

%constellations-animation {
  z-index: -1;
  animation-delay: 0s;
  opacity: 0;
  animation: fade-in-out 8s infinite;
}

%headline-logo-animation {
  transition: 1s;

  &:hover{
    transform: scaleX(-1) scale(1.5);
  }
}

%button-side-fall-animation {
  transition: 0.8s;

  &:hover {
    transform: translateY(10px) rotate(10deg);
  }
}

// Mixins
@mixin play-icon-hover($play-icon, $play-icon-inverse-color) {
  #{$play-icon}, #{$play-icon-inverse-color} {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
  }

  &:hover img {
    opacity: 1;
    transform: scale(0.9);
  }

  #{$play-icon-inverse-color} {
    opacity: 0;
  }
}

/* || Animation Keyframes */
@keyframes fade-in-out {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes move-left-right {
  to{ transform: translateX(-30px) translateZ(40px) }
}


