@import "screensize_variables";

// || Default content - below 768px
.footer {
  padding: 4vh;
  background: #464547;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  justify-content: center;
  grid-row-gap: 2vh;

  &__title{
    font-family: $content-font-family;
    font-style: normal;
    font-weight: 400;
    font-size: $footer-title-font-size;
    line-height: 16px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    margin-bottom: 10px;

    color: #FFFFFF;
    align-self: start;
  }

  &__info {
    font-family: $content-font-family;
    font-style: normal;
    font-weight: 400;
    font-size: $footer-content-font-size;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.4);
    align-self: end;

    & > p:last-of-type{
      display: none;
    }
  }

  // || Content over or at 768px
  @media screen and (min-width: 768px) {
    grid-template-columns: 2fr 3fr 2fr;
    align-items: center;

    &__title {
      font-size: $desktop-footer-title-font-size;
    }

    &__info {
      font-size: $desktop-footer-content-font-size;

      & > p:last-of-type {
        display: block;
      }
    }
  }
}