@import "screensize_variables";
@import "animations";

// || Default Styles - Mobile/Lower than 768px

.header {
  position: relative;
  display: grid;
  grid-template-rows: 6vh auto;
  grid-row-gap: 8vh;
  align-items: center;
  justify-content: center;
  padding-bottom: 10vh;
  perspective: 500px;

  &__background-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -2;

    > img {
      position: absolute;
      z-index: -2;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__nav-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5%;

  }

  &__nav-link {
    text-decoration: none;
    font-family: $content-font-family;
    font-style: normal;
    font-weight: 400;
    font-size: $nav-item-font-size;
    line-height: 16px;

    letter-spacing: 0.2em;
    text-transform: uppercase;

    color: #FFFFFF;


    &:first-of-type{
      font-weight: 600;
      font-size: $nav-title-font-size;
      padding-left: 2vh;

      letter-spacing: 0.1em;
      text-transform: uppercase;

      color: #FFFFFF;
    }

    &:not(:first-of-type){
      display:none;
    }

  }

  &__nav-burger {
    justify-self: end;
    padding-right: 2vh;
  }

  &__headline-container {
    width: 100%;
    height: 40%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__headline-title {
    width: 80%;
    font-family: $headline-font-family;
    font-style: normal;
    font-weight: 700;
    font-size: $tittle-font-size;
    line-height: 64px;
    text-align: center;

    color: #FFFFFF;
  }

  &__headline-description {
    font-family: $content-font-family;
    font-style: normal;
    font-weight: 400;
    font-size: $description-font-size;
    line-height: 32px;
    width: 90%;

    text-align: center;

    color: rgba(255, 255, 255, 0.7);
  }

  /* Logo spin */
  &__headline-logo {
    @extend %headline-logo-animation
  }

  /* Star movement */
  .header__animation-constellations {
    @extend %constellations-animation
  }

  .header__animation-stars {
    @extend %stars-animation
  }

  // || Styles over or equal to 768px
  @media screen and (min-width: $mobile-screen-max){
    > img {
      object-position: center;
    }

    &__nav-list {
      grid-template-columns: 3fr repeat(4, 1fr) 3fr;
    }

    &__nav-link {
      &:first-of-type {
        padding-left: 2vh;
        font-size: $desktop-nav-title-font-size;
      }

      &:not(:first-of-type) {
        display: inline;
      }
    }


    &__nav-burger {
      display: none;
    }


    &__headline-title {
      width: 40%;
      font-size: $desktop-title-font-size;
    }

    &__headline-description {
      font-size: $desktop-description-font-size;
      width: 50%;
    }
  }
}

