$mobile-screen-max: 767px;

// Global values
$headline-font-family: 'Oswald', serif;
$content-font-family: 'Source Sans Pro', serif;

// Default values (mobile - below 768px)
$tittle-font-size: 40px;
$description-font-size: 20px;
$nav-item-font-size: 14px;
$nav-title-font-size: 17px;
$content-font-size: 16px;
$footer-title-font-size: 13px;
$footer-content-font-size: 12px;


// Values for Desktop (Above or equal to 768px)
$desktop-nav-title-font-size: 20px;
$desktop-title-font-size: 48px;
$desktop-description-font-size: 24px;
$desktop-footer-title-font-size: 15px;
$desktop-footer-content-font-size: 15px;