@import "screensize_variables";
@import "animations";

// || Default style - less than 768px
.main {
  .article {
    display: grid;
    grid-template-columns: auto;
    justify-items: left;
    background-color: #FFFFFF;
    margin: 2vh;
    row-gap: 1vh;
    padding-bottom: 30px;


    &__headline {
      font-family: $headline-font-family;
      font-style: normal;
      font-weight: 700;
      font-size: $tittle-font-size;
      line-height: 64px;

      width: auto;
      justify-content: left;
      text-align: left;

      color: #464547;

    }
    &__subtitle {
      font-family: $content-font-family;
      font-style: normal;
      font-weight: 400;
      font-size: $description-font-size;
      line-height: 32px;
      width: auto;
      text-align: left;
      color: #666666;

    }
    &__description {
      font-family: $content-font-family;
      font-style: normal;
      font-weight: 400;
      font-size: $content-font-size;
      line-height: 22px;
      width: 85%;
      text-align: left;
      max-width: 1200px;

      color: #000000;
      display: grid;
      grid-row-gap: 2vh;

    }
    &__button {
      background-image: url('../assets/read_more_button.svg');
      background-size: cover;
      background-color: transparent;
      width: 115px;
      height: 38px;
      border: none;
      padding: 0;

      @extend %button-side-fall-animation
    }


    // || Article styles over or equal to 768px
    @media screen and (min-width: $mobile-screen-max){
      justify-items: center;
      grid-template-columns: 1fr;

      &__headline {
        width: 60%;
        justify-content: center;
        text-align: center;
      }

      &__subtitle {
        font-size: $desktop-description-font-size;
        line-height: 32px;
        margin-top: 0;
        width: 40%;
        text-align: center;
      }

      &__description {
        text-align: center;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 10%;
      }
    }
  }

  .learn-more {
    background-size: cover;
    padding: 5vh 1vh;
    display: grid;
    place-items: center;
    background: linear-gradient( to bottom,
            rgba(0,0,0,0),
            rgba(0,0,0,.9)),
            url("../assets/learn_more_background.png");
    background-size: cover;
    flex-direction: column;
    margin-top: 40px;

    &__information-box{
      width: 90%;
      height: 80%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    &__title {
      font-family: $headline-font-family;
      font-style: normal;
      font-weight: 700;
      font-size: $tittle-font-size;
      line-height: 64px;
      text-align: center;

      color: #FFFFFF;
    }

    &__play-button {
      position: relative;
      background-color: transparent;
      border-style: none;
      width: 230px;
      height: 230px;

      @include play-icon-hover('&__play-icon', '&__play-icon--inverse-color')
    }

    &__description {
      font-family: $content-font-family;
      font-style: normal;
      font-weight: 400;
      font-size: $description-font-size;
      line-height: 32px;

      text-align: center;

      color: rgba(107, 117, 119, 0.85);
    }

    // || Learn-more styles over or equal to 768px
    @media screen and (min-width: $mobile-screen-max){
      padding: 5vh;

      &__information-box{
        width: 50%;
      }

      &__title {
        font-size: $desktop-title-font-size;
        line-height: 64px;
      }

      &__play-button {
        width: 260px;
        height: 260px;
      }


      &__description  {
        font-size: $desktop-description-font-size;
        color: #FFFFFF;
      }
    }
  }
}